#main{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 2;
	/*height: 100vh;*/
}
#openPopup{
	display: block;
	background: pink;
	text-align: center;
	appearance: none;
	border: none;
	cursor: pointer;
	font-size: 20px;
	padding: 18px 30px;
}
#closePopup{
	position: absolute;
	width: 40px;
	height: 40px;
	color: #fff;
	background: red;
	text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 3;
	top: 0;
	right: 0;
}
.popupBox{
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 300; */
	text-align: center;
	min-width: 500px;
	max-width: 500px;
	min-height: 500px;
	max-height: 500px;
	
	border: 2px solid #000;
	opacity: 0;
	visibility: hidden;
	transition: all .3s ease-in-out;
}
.content{
	position: relative;
	z-index: 2;
	min-height: 500px;
	padding: 40px 30px;
	background: #fff;
}
.popupBox.show{
	opacity: 1;
	visibility: visible;
}
.popupBox:before{
	content: '';
	position: fixed;
	background: rgba(0, 0, 0, 0.7);
	width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;
}
/*////////////*/
label{
	display: block;
}